@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
:root {
    --off-white: #f3f4f6;
    --dark-gray: #6b7280;
    --coolGray50: #F9FAFB;
    --coolGray100: #F3F4F6;
    --coolGray200: #E5E7EB;
    --coolGray300: #D1D5DB;
    --coolGray400: #9CA3AF;
    --coolGray500: #6B7280;
    --coolGray600: #4B5563;
    --coolGray700: #374151;
    --coolGray800: #1F2937;
    --coolGray900: #111827;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: var(--coolGray900);
    color: var(--coolGray50);
    user-select: none;
    overscroll-behavior: none;
}
/** container **/
.body-container {
  display: block;
  flex-direction: column;
  margin: auto;
  max-width: 1200px;
  padding: 0 2rem;
}
